#atacar #colocar #reagrupar{
    -fx-background-color: #8d4a01;
    -fx-font-size: 15px;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;

    -fx-pref-width: 100px;
    -fx-text-fill: #c3bfbf;
    -fx-border-color: black;
    -fx-border-width: 2px;
}


.button{
    -fx-background-color: #8d4a01;
    -fx-text-fill: #c3bfbf;
    -fx-font-weight: bold;


}

.button:hover {
    -fx-text-fill: black;
    -fx-background-color: #663300;
}

#menu{
    -fx-pref-width: 150px;
}

#inicio{
    -fx-font-family: "Bell MT";
    -fx-font-size: 84;
    -fx-padding: 5px;
}

